<configuration>
  <system.webServer>
    <!-- Use iisnode module to run Node.js applications -->
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Configuration options for iisnode module -->
    <iisnode 
      node_env="production" 
      loggingEnabled="true" 
      devErrorsEnabled="true" 
      nodeProcessCommandLine="&quot;C:\Program Files\nodejs\node.exe&quot;"
    />
    
    <!-- Set default document to your main entry point (index.js) -->
    <defaultDocument>
      <files>
        <add value="index.js" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
